<div id="login-tpl" class="full-height login-page <%= siteClassName %>">
	<div class="login-form">
		<div id="logo" class="logo"></div>
		<h1 title="title"><%= title %><sup><%= sup %></sup></h1>
		<h2><%= legend %></h2>
		<h3><%= locality %>, <%= country %></h3>
		<br>
		<form class="" autocomplete="off">
			<div class="wrapper">
				<div class="form-group" id="login-group">
				<input style="display:none">
					<input id="UNportal" list="username_list" type="text"
						class="form-control" placeholder="login"
						autocomplete="off" autofocus/>
				</div>

				<div class="form-group" id="pwd-group">
					<input type="password" style="display:none">

					<input id="password" type="password" class="form-control" placeholder="mot de passe"/>
					<span id="help-password" class="help-block"></span>

				</div>
			</div>
			<button id="login-btn" type="submit" class="center-block form-control"><span data-i18n="home.login">Login</span></button>
		</form>

	</div>
	<span class="credits">
		by <a TARGET="_blank" href="http://www.natural-solutions.eu/">Natural Solutions</a>
	</span>

</div>

