Front/bower_components/*
Front/node_modules/*
Front/build/*
Front/.idea/*
Back/build/*
Back/ns_portal/static/webapp
**/*.css
**/*.css.map

Front/app/styles/*.css
Front/app/styles/*.css.map

**/config.js

**/*.pyc
**/*.ini
**/*.egg-info
**/*.egg-info/*
**/*.egg

**/*.rar

npm-debug.log
web.config

.grunt/grunt-contrib-jasmine
portalenv/
.vscode/

Back/env
Back/masterenv
Back/dist
Back/build