<nav class="navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand after ripplelink" href="#">
				<i class="reneco reneco-worldsmall"></i>&nbsp;
				<span data-i18n="header.portal">Portal</span>
				<span> - <%= site %></span>
			</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li id="header-loader" class="hidden">
				<a>

				</a>
			</li>
			<li>
				<a href="#">
					<i class="reneco reneco-user"></i>&nbsp;
					<span><%= firstname %> <%= lastname %></span>
				</a>
			</li>
			<li>
					<a href="#">
						<span>|</span>
					</a>
				</li>
			<li>
				<a href="#">
					<span><%= language %></span>
				</a>
			</li>
			<li>
					<a href="#">
						<span>|</span>
					</a>
				</li>
			<li>
				<a id="logout" class="ripplelink"> 
					<span data-i18n="header.logout">logout&nbsp;</span>
					<i class="glyphicon glyphicon-log-out"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>
